$bgColor: dodgerblue;
$primaryColor: red;

@mixin transform($property) {
  -webkit-transform: $property;
  -moz-transform: $property;
  -ms-transform: $property;
  -o-transform: $property;
  transform: $property;
}

body {
  background-color: $bgColor;
}

button.button {
  background-color: $primaryColor;
  @include transform(rotate(30deg));

  &:hover {
    background-color: green;
  }
}

p.paragraph {
  @include transform(rotate(-30deg));
}

%message-shape {
  border-width: 1px;
  border-style: solid;
  padding: 10px;
  margin: 10px;
}

.message-success {
  @extend %message-shape;
  background-color: green;
  border-color: green;
}

.message-danger {
  @extend %message-shape;
  background-color: red;
  border-color: red;
}

.message-warning {
  @extend %message-shape;
  background-color: orange;
  border-color: orange;
}
